<app-toolbar></app-toolbar>
<app-messages-viewer></app-messages-viewer>
<app-message-editor></app-message-editor>

<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBQ_Ns0ifAYKTz9dPdL3ID4M1FFI0Ptbdk",
    authDomain: "firechat-angular-v2.firebaseapp.com",
    databaseURL: "https://firechat-angular-v2.firebaseio.com",
    projectId: "firechat-angular-v2",
    storageBucket: "",
    messagingSenderId: "398399997215"
  };
  firebase.initializeApp(config);
</script>